# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform
.idea
*.iml

.build-harness
build-harness

.terragrunt-cache
*.lock.hcl
*.pem
terraform.tfstate
oso-confluent-ssh
oso-confluent-ssh.pub
